<HTML>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/defStyle.css">

        <head>
            <link rel="shortcut icon" type="image/x-icon" href="static/logo.png" />
        </head>
        <title>
            kimmustdie - Faves
        </title>
    </head>
    <body style="background-color:rgb(0, 0, 0);">
        <ul>
            <li><a href="http://127.0.0.1:5000/home">Me</a></li>
            <li><a href="http://127.0.0.1:5000/art">Sona</a></li>
            <li><a href="http://127.0.0.1:5000/projects">Projects</a></li>
            <li><a href="http://127.0.0.1:5000/favechara">Fave Characters</a></li>
        </ul>
        <br>
        <p style="color: white;padding-bottom: 20px;margin-top: -10px;display:inline;">[Song: Lazy Afternoons - Kingdom Hearts 2]</p>

        <h1 style="color: rgb(162, 0, 255);padding-left: 25px;">My Favorite Characters</h1>
        <p style="color: white;padding-left: 25px;">Clicking their image takes you to their wikipage.</p>

        <a href="https://doraemon.fandom.com/wiki/Doraemon" style="padding-left: 25px;" target="_blank" rel="noopener noreferrer" style="padding-left: 25px;padding-bottom:30px;"><img src="/static/doraemon.jpg" width = "250" length = "auto"></a>
        <a href="https://poppy-playtime.fandom.com/wiki/CatNap" style="padding-left: 25px;" target="_blank" rel="noopener noreferrer" style="padding-left: 25px;padding-bottom:30px;"><img src="/static/catnap.jpg" width = "250" length = "auto"></a>
        <a href="https://valorant.fandom.com/wiki/Cypher" style="padding-left: 25px;" target="_blank" rel="noopener noreferrer" style="padding-left: 25px;padding-bottom:30px;"><img src="/static/cypher.jpg" width = "250" length = "auto"></a>
        <a href="https://samandmax.fandom.com/wiki/Max" style="padding-left: 25px;" target="_blank" rel="noopener noreferrer" style="padding-left: 25px;padding-bottom:30px;"><img src="/static/max.jpg" width = "250" length = "auto"></a>
       





            <audio autoplay loop id="myaudio">
                <source src="/static/aboutme.mp3" type="audio/mpeg">
            </audio>
            <script>
                var audio = document.getElementById("myaudio");
                audio.volume = 0.1;
            </script>
            <div class="fullscreen-bg">
            <video loop muted autoplay class="fullscreen-bg_video" style="max-width: 100%;">
                    <source src="static/space.mp4" type="video/mp4">
            </video>
            </div>
    </body>
</HTML>